*.tmp
birch_venv/
bvenv
data/sam/
*.aux
*.log
venv/
ENV/
*.pyc
*~
proto_err.sublime-project
proto_err.sublime-workspace
tests/img
/data/*subsampled*
*.sam
*.fa
*.fq
*.amb
*.ann
*.bwt
*.pac
*.sa
ENV/
results/
tests/json
*#
#*#
profile.txt
_build/
BiasDetect
*.sthash
*.stidx